create one variable containig the following type of data :

(i)string
(ii)list
(iii)float
(iv)tuple

In [1]:
str_v = "hello prajwal"
lis_v = [12,34,56,"shudanshu sir ",90.89]
flo_v = 35.76
tup_v = (90,89,87.90,[1,2,3],"prajwal")
print(str_v, type(str_v),'\n',lis_v ,type(lis_v),'\n',flo_v,type(flo_v),'\n',tup_v,type(tup_v))

hello prajwal <class 'str'>
 [12, 34, 56, 'shudanshu sir ', 90.89] <class 'list'>
 35.76 <class 'float'>
 (90, 89, 87.9, [1, 2, 3], 'prajwal') <class 'tuple'>

OR

In [2]:
praj = ["hello_sir",[1,2,34,],45.04,(45,78,90)]
for i in praj:
    print(i,type(i))

hello_sir <class 'str'>
[1, 2, 34] <class 'list'>
45.04 <class 'float'>
(45, 78, 90) <class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

(i) var1 = ‘ ‘
data type of var1 is string

(ii) var2 = ‘[ DS , ML , Python]’
data type of var2 is string

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
data type of var3 is list

(iv) var4 = 1.
data type of var4 is float

Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

(i) / : it is DIVISION operator as it is use to do mathematical calculation in programming , example is given below:

In [3]:
a ,b = 10,2
print(a/b)

5.0

(ii) % : it is MODULUS operator as it is also use to do mathematical calculation in programming , ecample is given below:

In [4]:
a ,b = 10,2
print(a%b)

0

(iii) // : it is FLOOR DIVISION operator as it is also use to do mathematical calculation in programming , ecample is given below:

In [5]:
a ,b = 10,2
print(a//b)

5

(iv) ** : it is EXPONENTIATION operator as it is also use to do mathematical calculation in programming , ecample is given below:

In [6]:
a ,b = 10,2
print(a**b)

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:

praj = ["hello_sir",[1,2,34,],45.04,(45,78,90),{22,56,"sudhanshu_sir"},{"class":"data_science","time":"7:30-8:30"},True,10,"hello",0]
print(f"length of the given list is {len(praj)}")
for i in praj:
    print(i,type(i))

length of the given list is 10
hello_sir <class 'str'>
[1, 2, 34] <class 'list'>
45.04 <class 'float'>
(45, 78, 90) <class 'tuple'>
{56, 'sudhanshu_sir', 22} <class 'set'>
{'class': 'data_science', 'time': '7:30-8:30'} <class 'dict'>
True <class 'bool'>
10 <class 'int'>
hello <class 'str'>
0 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
a = int(input("enter the value of a :"))
b = int(input("enter the value of b :"))
while(a%b == 0):
    print(f"a is divisible b and it can be divisible {a/b} times")

    break

enter the value of a : 48
enter the value of b : 12

a is divisible b and it can be divisible 4.0 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if(i%3==0):
        print(f"element is divisible by 3: and the element is :{i}")
    else:
        print(f"element is not divisible by 3: and the element is :{i}")

element is not divisible by 3: and the element is :1
element is not divisible by 3: and the element is :2
element is divisible by 3: and the element is :3
element is not divisible by 3: and the element is :4
element is not divisible by 3: and the element is :5
element is divisible by 3: and the element is :6
element is not divisible by 3: and the element is :7
element is not divisible by 3: and the element is :8
element is divisible by 3: and the element is :9
element is not divisible by 3: and the element is :10
element is not divisible by 3: and the element is :11
element is divisible by 3: and the element is :12
element is not divisible by 3: and the element is :13
element is not divisible by 3: and the element is :14
element is divisible by 3: and the element is :15
element is not divisible by 3: and the element is :16
element is not divisible by 3: and the element is :17
element is divisible by 3: and the element is :18
element is not divisible by 3: and the element is :19
element is not divisible by 3: and the element is :20
element is divisible by 3: and the element is :21
element is not divisible by 3: and the element is :22
element is not divisible by 3: and the element is :23
element is divisible by 3: and the element is :24
element is not divisible by 3: and the element is :25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans: mutable are the objects which can be change after it has been created where as in An immutable object cannot be changed after it is created

In [14]:
# mutable
l = [1,2,3,4,5]
l[3] = "hi_sir"
print(l)

[1, 2, 3, 'hi_sir', 5]

In [17]:
#immutable
t = (1,2,3,4,5)
t[3] = "hi_sir"
print(t)

TypeError: 'tuple' object does not support item assignment